<div class="groupNew">
  <h5>チームを作成</h5>
   <%= form_with model: @group, local:true do |f| %>
   <div class="form-group"><%= f.label :group_name, "新しく作りたいチーム名を入力してください" %></div>
   <div class="form-group"><%= f.text_field :group_name %>
   <%= f.submit "作成", class: "mx-3 btn btn-secondary" %></div>
  <% end %>
</div>

