<div class="container">
  <h3 class ="headline">マイチーム</h3>
  <div class="groupIndex">
    <% unless @my_groups.present? %>
      <p class="mt-5">現在登録されているチームはありません</p>
    <% else %>
      <%= render "index", my_groups: @my_groups %>
    <% end %>
  </div>
    <%= render "new", group: @group %>
</div>