<div class='mypage'>
  <h2>マイページ</h2>
  <div class="profile-body">
    <div class="profile-detail">
      <div class='profile-basis'>
        <div class="form-group">
          <p>名前</p>
          <div><%= @user.name %></div>
          <div><%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg', fallback: "no-image.png" ,size: "100x100" %></div>
        </div>
        <div class="form-group">
          <p>introduction</p>

        </div>
        <div>所属グループ数 : <%= @user.group_users.count %></div>
      </div>
  </div>