.top {
  height: 50vw;
  width: 100%;
  background-image: image-url("top.png");
  background-size: cover;
}
.about1 {
  height: 50vw;
  width: 100%;
  background-image: image-url("about1.png");
  background-size: cover;
}
.about2 {
  height: 50vw;
  width: 100%;
  background-image: image-url("about2.png");
  background-size: cover;
}
.about3 {
  height: 50vw;
  width: 100%;
  background-image: image-url("about3.png");
  background-size: cover;
 }