.userEdit {
  padding-top: 30px;
    .title {
    margin: 0;
    text-align: center;
  }
   .edit-profile {
    .form-group {
      max-width: 300px;
      margin: 0 auto 1rem;
        .form-control {
          background: #f6f8fa;
        }
        .img {
          object-fit: cover;
          margin: 0 auto 10px;
          border-radius: 70%;
          border-color: green;
        }
        .img:hover {
          opacity: 0.6;
          transition-duration: 0.3s;
        }
     }
    .profile-btn {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
