.userWrapper {
  width: 100%;
  background-color: white;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .profile-body {
    width: 100%;
      .profile-icon {
        img {
          width: 12vw;
          height: 12vw;
          object-fit: cover;
        }
        img:hover {
          opacity: 0.6;
          transition-duration: 0.3s;
        }
      }
      .profile-basis {
        width: 50%;
        color: #545454;
    }
    .profile-btn {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
